<li class='list-group-item col-md-12' id='{{id}}'>
  <div class='form-group col-md-10'>
    <input class='form-control bodyListItemForm' data='{{id}}' placeholder='List Item'>
  </div>
  <div class='col-md-2'>
    <a class='btn btn-danger removeBodyListItemItem' data='{{id}}'><span class='glyphicon glyphicon-minus'></span></a>
  </div>
</li>
