<li class='list-group-item col-md-12' id='{{id}}'>
  <ul id='{{id}}-list' class='list-group col-md-10'></ul>
  <div class='col-md-2'>
    <a class='btn btn-primary addBodyListItem' action='addBodyListItem' data='{{id}}'>
      <span class='glyphicon glyphicon-plus'></span>
    </a>
  </div>
  <div class=' col-md-offset-10 col-md-2'>
    <a class='btn btn-danger removeBodyPart' data='{{id}}'><span class='glyphicon glyphicon-minus'></span></a>
  </div>
</li>
