<li class='list-group-item col-md-12' id='{{id}}'>
  <div class='form-group col-md-10'>
    <textarea class='form-control paragraphBodyItemForm' data='{{id}}' placeholder='Body Section'></textarea>
  </div>
  <div class='col-md-2'>
    <a class='btn btn-danger removeBodyPart' data='{{id}}'><span class='glyphicon glyphicon-minus'></span></a>
  </div>
</li>
