<li class='list-group-item' id='{{id}}'>
    <div class='form-group'>
        <input class='form-control titleItemForm' data='{{id}}' placeholder='Title Text'>
    </div> 
    <a class='btn btn-danger removeTitleItem'><span class='glyphicon glyphicon-minus'></span></a>
</li> 
