<li class='list-group-item col-md-12' id='{{id}}'>
    <div class='form-group col-md-10'>
        <input class='form-control titleItemForm' data='{{id}}' placeholder='Title Text'>
    </div>
    <div class='col-md-2'>
      <a class='btn btn-danger removeTitleItem' data='{{id}}'><span class='glyphicon glyphicon-minus'></span></a>
    </div>
</li>
